<li class="list-group-item ad">

    <!-- Première ligne -->
    <i class="far"
        [ngClass]="{
            'fa-pause-circle': status == statuses.Draft,
            'fa-times-circle': status == statuses.Offline,
            'fa-check-circle': status == statuses.Published
        }"
        [ngStyle]="{
            color: getColor()
        }"
        ></i>
    <span>{{ title }}</span>
    <span> - </span>
    <span class="badge badge-primary">{{ price | number: '2.2-2' }} €</span>
    <span class="float-right">{{ date | date: 'dd/MM/yyyy, HH:mm'}}</span>

    <!-- Champs texte -->
    <input type="text" class="mt-2 mb-1 form-control" [(ngModel)]="title">

    <!-- Boutons -->
    <div class="btn-group mt-2" role="group">
        <button type="button" class="btn btn-sm" [ngClass]="{'btn-warning': status == statuses.Draft, 'btn-outline-warning': status != statuses.Draft }" (click)="setStatus(statuses.Draft)">Brouillon</button>
        <button type="button" class="btn btn-sm" [ngClass]="{'btn-success': status == statuses.Published, 'btn-outline-success': status != statuses.Published }" (click)="setStatus(statuses.Published)">Publié</button>
        <button type="button" class="btn btn-sm" [ngClass]="{'btn-info': status == statuses.Offline, 'btn-outline-info': status != statuses.Offline }" (click)="setStatus(statuses.Offline)">Désactivée</button>
      </div>
  <a [routerLink]="[id]">Aller à l'annonce</a>
</li>
