<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> <a routerLink="/ads">Annonces</a></li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mes annonces</h1>

      <!-- Annonces -->
      <ul class="list-group" *ngIf="isAuthenticated">
        <app-ad
          [title] ="ad.title"
          [status] ="ad.status"
          [date] ="ad.date"
          [price] ="ad.price"
          [index] = "index"
          [id]="ad.id"
          *ngFor = "let ad of ads; let index = index">
        </app-ad>
      </ul>

      <!-- Compteur -->
      <app-counter [ads]="ads"></app-counter>

      <!-- Message si déconnecté -->
      <div class="alert alert-info" *ngIf="!isAuthenticated">Vous devez être connecté pour afficher les annonces</div>

      <!-- Boutons -->
      <button class="btn btn-success" (click)="onPublish()" *ngIf="isAuthenticated">Tout publier</button>
      <button class="btn btn-success" (click)="login()" *ngIf="!isAuthenticated">Connexion</button>
      <button class="btn btn-warning" (click)="logout()" *ngIf="isAuthenticated">Déconnexion</button>
    </div>
  </div>
</div>
