<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">
         Titre:
        </label>
        <input type="text" id="title" name="title" required ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="price">
          Prix:
        </label>
        <input type="number" id="price" name="price" required ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="image">
          Image:
        </label>
        <input type="text" id="image" name="image" required ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="status">
          Status:
        </label>
        <select id="status" name="status" ngModel required class="form-control">
          <option value="Publié">Publié</option>
          <option value="Brouillon">Brouillon</option>
          <option value="Désactivée">Désactivée</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
